a.fa-style:link {
	text-decoration-line: none;
	color: black;
}

a.fa-style:visited {
	text-decoration-line: none;
	color: black;
}

a.fa-style:hover {
	text-decoration-line: none;
}


.fa-facebook:hover {
	color: #3C5A99;
}

.fa-twitter:hover {
	color: #38A1F3;
}

.fa-instagram:hover {
	color: transparent;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text;
	-webkit-background-clip: text;
}

.fa-youtube:hover {
	color: #E52D27;
}

.fa-linkedin:hover {
	color: #0077B5;
}

.fa-github:hover {
	color: #211F1F;
}

.fa-reddit:hover {
	color: #ff4500;
}

.fa-app-store:hover {
	color: #007aff;
}

.fa-google-play:hover {
	color: #a4c639;
}